<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Nueva contraseña</title>
    </head>
    <body>
	<div align="center">
            <br/><h1>Cambia tu contraseña</h1><br/>
            <form action="#" th:action="@{/saveUsuario}" th:object="${user}" method="post">
                <table border="0" cellpadding="10">
                    <tr>				
                        <td>Tu número de usuario:</td>
                        <td>
                            <input type="text" th:field="*{id}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Tu(s) nombre(s) es(son):</td>
                        <td>
                            <input type="text" th:field="*{nombre}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Tus apellidos son:</td>
                        <td>
                            <input type="text" th:field="*{apellido}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Tu edad es:</td>
                        <td>
                            <input type="text" th:field="*{edad}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Tu género es:</td>
                        <td>
                            <input type="text" th:field="*{genero}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Tu email es:</td>
                        <td>
                            <input type="email" th:field="*{email}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Ingresa tu nueva contraseña</td>
                        <td>
                            <input type="password" th:field="*{contraseña}" required="true"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="button"><a href="/">Regresar</a></button>
                            <button type="submit">Cambiar contraseña</button>
                            <button type="reset">Limpiar campos</button>                            
                        </td>
                    </tr>
                </table>
            </form>
	</div>
    </body>
</html>