<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8"/>
        <title>Datos de la cuenta</title>
    </head>
    <body>
	<div align="center">
            <br/><h1>Edita tus datos</h1><br/>
            <form action="#" th:action="@{/saveUsuario}" th:object="${changedUser}" method="post">
                <table border="0" cellpadding="10">
                    <tr>				
                        <td>Tu número de usuario:</td>
                        <td>
                            <input type="text" th:field="*{id}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Ingresa el(los) nuevo(s) nombre(s):</td>
                        <td>
                            <input type="text" th:field="*{nombre}" required="true"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Ingresa los nuevos apellidos:</td>
                        <td>
                            <input type="text" th:field="*{apellido}" required="true"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Ingresa la nueva edad:</td>
                        <td>
                            <input type="number" th:field="*{edad}" required="true" min="15"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Ingresa el nuevo género:</td>
                        <td>
                            <input type="radio" th:field="*{genero}" value="F" required="true"/>Femenino
                            <input type="radio" th:field="*{genero}" value="M" required="true"/>Masculino
                            <input type="radio" th:field="*{genero}" value="X" required="true"/>No quiero decirlo
                        </td>
                    </tr>
                    <tr>				
                        <td>Tu email es:</td>
                        <td>
                            <input type="email" th:field="*{email}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>				
                        <td>Ingresa tu contraseña para verificar la operación: </td>
                        <td>
                            <input type="password" th:field="*{contraseña}" required="true"/>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="button"><a href="/">Regresar</a></button>
                            <button type="submit">Cambiar datos</button>
                            <button type="reset">Limpiar campos</button>
                        </td>
                    </tr>
                </table>
            </form>
	</div>
    </body>
</html>