<!DOCTYPE html>
<html>
    <head>
        <title>Error encontrado</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div align="center">
            <h1>Excepción encontrada</h1></br>
            Los datos del error encontrado son los siguientes:</br></br>
            <table border="1" cellpadding="10" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Error</th>
                        <th>Causa</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="error : ${exception}">
                        <td th:text="${error.error}">Error</td>
                        <td th:text="${error.causa}">Causa</td>
                    </tr>
                </tbody>
            </table>
            </br><button type="button"><a href="/">Regresar</a></button>
        </div>
    </body>
</html>
