<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Tus IMC calculados</title>
        <meta charset="utf-8"/>
        <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        </br><div align="right"><button type="button"><a th:href="logout">Cerrar mi sesión</a></button></div>
        <div align="center">
            <h1></br>Bienvenid@ a tu cuenta IMC</h1><br/>
            Tus datos:<br/>
            <br/>
            <table border="1" cellpadding="10" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID de usuario</th>
                        <th>Nombre(s)</th>
                        <th>Apellidos</th>
                        <th>Edad</th>
                        <th>Género</th>
                        <th>Email</th>
                        <th>Contraseña</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario : ${sessionUser}">
                        <td th:text="${usuario.id}">ID de usuario</td>
                        <td th:text="${usuario.nombre}">Nombre(s)</td>
                        <td th:text="${usuario.apellido}">Apellidos</td>
                        <td th:text="${usuario.edad}">Edad</td>
                        <td th:text="${usuario.genero}">Género</td>
                        <td th:text="${usuario.email}">Email</td>
                        <td><a th:href="@{'/changePassword/' + ${usuario.id}}">Cambiar contraseña</a></td>
                        <td><a th:href="@{'/editUser/' + ${usuario.id}}">Cambiar mis datos</a></td>
                    </tr>
                </tbody>
            </table>
            <br/><br/>
            Tus cálculos:</br><a href="newImc">Calcular nuevo IMC</a></br></br>
            <table border="1" cellpadding="10" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>ID del cálculo</th>
                        <th>ID del usuario</th>
                        <th>Estatura</th>
                        <th>Peso</th>
                        <th>Imc</th>
                        <th>Fecha</th>
                        <th>Explicación del resultado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="imc : ${listImc}">
                        <td th:text="${imc.id}">ID del cálculo</td>
                        <td th:text="${imc.idUsuario}">ID del usuario</td>
                        <td th:text="${imc.estatura}">Estatura</td>
                        <td th:text="${imc.peso}">Peso</td>
                        <td th:text="${imc.imc}">Imc</td>
                        <td th:text="${imc.fecha}">Fecha</td>
                        <td th:text="${imc.explicaResultado}">Explicación del resultado</td>
                        <td><a th:href="@{'/delete/' + ${imc.id}}">Eliminar registro</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
