<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Calcular nuevo usuario</title>
    </head>
    <body>
        <div align="center">
            <h1>Nuevo usuario</h1>
            <br/>
            <form action="#" th:action="@{/saveUsuario}" th:object="${usuario}" method="post">

                <table border="0" cellpadding="10">
                    <tr>
                        <td>Ingresa tu(s) nombre(s):</td>
                        <td><input type="text" th:field="*{nombre}" required="true"/></td>
                    </tr>
                    <tr>
                        <td>Ingresa tus apellidos:</td>
                        <td><input type="text" th:field="*{apellido}" required="true"/></td>
                    </tr>
                    <tr>
                        <td>Ingresa tu edad:</td>
                        <td><input type="number" th:field="*{edad}" min="15" required="true"/></td>
                    </tr>
                    <tr>
                        <td>Ingresa tu género:</td>
                        <td>
                            <input type="radio" th:field="*{genero}" value="F" required="true"/>Femenino
                            <input type="radio" th:field="*{genero}" value="M" required="true"/>Masculino
                            <input type="radio" th:field="*{genero}" value="X" required="true"/>No quiero decirlo
                        </td>
                    </tr>
                    <tr>
                        <td>Ingresa tu email</td>
                        <td><input type="email" th:field="*{email}" required="true"/></td>
                    </tr>
                    <tr>
                        <td>Ingresa tu contraseña</td>
                        <td><input type="password" th:field="*{contraseña}" required="true" min=4/></td>
                    </tr>
                    <tr>
                        <td colspan="2"><button type="submit">Crear usuario</button> </td>
                    </tr>
                </table>
            </form>
        </div>
    </body>
</html>