<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>Registrar nuevo usuario</title>
        <link rel="stylesheet" href="https://bootswatch.com/5/pulse/bootstrap.min.css">
    </head>
    <body>
        <div align="left" style="padding: 1% 23%">
            <form action="#" th:action="@{/saveUsuario}" th:object="${usuario}" method="post">
                <legend>Nuevo usuario</legend>
                <div class="form-group">
                    <label class="form-label mt-4">Ingresa tu(s) nombre(s):</label>
                    <input type="text" class="form-control" th:field="*{nombre}" required/>
                <div/>
                <div class="form-group">
                    <label class="form-label mt-4">Ingresa tus apellidos:</label>
                    <input type="text" class="form-control" th:field="*{apellido}" required/>
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Ingresa tu edad:</label>
                    <input type="number" class="form-control" th:field="*{edad}" min="15" required/>
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Ingresa tu género:</label>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" th:field="*{genero}" value="F" required/>Femenino
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" th:field="*{genero}" value="M" required/>Masculino
                        </label>
                    </div>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" th:field="*{genero}" value="X" required/>No quiero decirlo
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Ingresa tu email:</label>
                    <input type="email" class="form-control" th:field="*{email}" required/>
                </div>
                <div class="form-group">
                    <label class="form-label mt-4">Ingresa tu contraseña:</label>
                    <input type="password" class="form-control" th:field="*{contraseña}" required min=4/>
                </div>
                <br/>
                <div align="center">
                    <button onclick="window.location.href='/'" class="btn btn-info" type="button">Regresar</button>
                    <button class="btn btn-info" type="submit">Crear usuario</button>
                    <button class="btn btn-info" type="reset">Limpiar campos</button>
                </div>
            </form>
        </div>
    </body>
</html>